body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}



.button {
  border-radius:50px;  
  height: 100px; 
  width: 100px;  
  margin: 10px; 
  color: white; 
  display: flex; 
  align-items: center; 
  justify-content: center; 
  font-size: 40px; 
}

.numberbutton {
  background:#184379; 
}

.specialbutton {
  background:#225d9e;

}

.operatorbutton {
  background: #237293; 
}

.flex {
  display: flex; 
}

.column {
  flex-direction: column; 
  
}

.numbers { 
  flex-wrap: wrap; 
}

.margin{
  margin: 545px; 
}